<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="INetBankingV2" >
<listeners>
<listener class-name="Listener.Listener"></listener>
</listeners>
      <test name="ChromeTest">
           <parameter name="BROWSER" value="chrome"></parameter>
          <classes>
              <class name="com.InetBanking.testCases.TC_LoginTest_001"/>
              <class name="com.InetBanking.testCases.TC_CreateCustomer_001"/>
          </classes>
      </test>
      
     
      
</suite>